@font-face {
    font-family: "font";
    src: url(../fonts/CelsiusFlower.otf);
}
body{
    font-family: "font";
    background-color: black;
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    overflow-y: hidden;
    

} 
.regi, .log {
    display: flex;
    align-items: center;
    
}

.logo{
    margin-left: 5%;
    margin-top: 2%;
    
    display: flex;
    align-items: center;
}
p{
    
    font-size: 2rem;
}

.sezione{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.sezione2{
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 2%;
}
.bottone{
    font-size: 1rem;
    font-family: "font";
    border-style: solid;
    border-color: #333;
    border-width: 0px;
    margin-top: 1%;
    background-color:#6f95a7c0;
    border-radius: 18px;
    text-align: center;
    width: 50%;
    padding: 2%;
    cursor: pointer;
}
input:hover, .bottone:hover,.logo:hover{
    scale:1.05;
    transition: 0.3s;
}
.registrazione{
    
    margin: 3%;
    height: 35rem;
    width: 29rem;
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
}
.footer, .accedi{
    
    font-size: 1rem;
}
.footer{
    margin-left:-2%;
}
.accedi{
    cursor: pointer;
    color: #6f95a7;
}

.utente-password, .nome-cognome{
    display: flex;
    width: 75%;
    align-content: space-between;
    font-family: "font";
              gap: 15px;
     
  border-radius: 18px;         /* Angoli arrotondati */
  font-size: 16px;            /* Dimensione del testo */
  background-color: #f9f9f9;  /* Colore di sfondo */
  color: #333;                /* Colore del testo */
  outline: none;              /* Rimuove bordo blu al focus (Chrome) */
  transition: 0.3s ease;      /* Animazioni fluide */
  margin-top: 5%;
}
.nome-cognome{
    margin-top: 0%;
    margin-bottom: 7%;
}

#sub{
    font-size: 1.2rem;
    color: #333;
}

.ut,.pas,.nome,.cognome{
    margin: 0%;
    
}

input {
    width: 70%;
    margin: 5%;
    font-family: "font";
  padding: 10px;              /* Spazio interno */
  border: 2px solid #6b6b6b;     /* Bordo */
  border-radius: 18px;         /* Angoli arrotondati */
  font-size: 16px;            /* Dimensione del testo */
  background-color: #f9f9f9;  /* Colore di sfondo */
  color: #333;                /* Colore del testo */
  outline: none;              /* Rimuove bordo blu al focus (Chrome) */
  transition: 0.3s ease;      /* Animazioni fluide */
}
video {
    opacity: 0.5;
      position: fixed;
      top: 50%;
      left: 50%;
      min-width: 100%;
      min-height: 100%;
      transform: translate(-50%, -50%);
      object-fit: cover;
      z-index: -10;
      filter: invert(1) hue-rotate(180deg);
    }