@font-face {
    font-family: 'font_titolo'; /* Scegli un nome per il tuo font */
    src: url('../fonts/CelsiusFlower.otf') format('opentype');
    /* Puoi aggiungere font-weight e font-style se il file .otf è specifico per un peso/stile */
    /* Esempio: font-weight: normal; font-style: normal; */
    font-display: swap; /* Importante per le prestazioni e l'esperienza utente */
}
html {
    /* 1. Assicura che lo scroll sia abilitato se il contenuto eccede */
    overflow-y: scroll;
    overflow-x: hidden; /* Nasconde lo scroll orizzontale se non necessario */

    /* 2. Nasconde la scrollbar su Firefox */
    scrollbar-width: none;

    /* 3. Nasconde la scrollbar su IE e Edge (vecchio) - per completezza */
    -ms-overflow-style: none;
}

/* 4. Nasconde la scrollbar su browser WebKit (Chrome, Safari, Edge moderno, Opera) */
html::-webkit-scrollbar {
    display: none;
}

body{
    background-color: black;
}
.titolo{
    font-family:"font_titolo";
    font-size: 80px;
    color: white;
    opacity: 0;
    scale: 0;
    height: 100vh;
    width: 98vw;
    display: flex;
    justify-content: center;
    align-items: center;
}